<div class="container">
    <!-- Imagem -->
    <div class="row">
    </div>

    <!-- Detalhes -->
    <div class="row">
        <div class="container">

            <div class="row">
                <div class="">
                    <label>Address</label>
                </div>

                <div class="">
                    <p>Address</p>
                </div>
            </div>

            <div class="row">
                <div class="">
                    <label>City</label>
                </div>

                <div class="">
                    <p>City</p>
                </div>
            </div>

            <div class="row">
                <div class="">
                    <label>State</label>
                </div>

                <div class="">
                    <p>State</p>
                </div>
            </div>

            <div class="row">
                <div class="">
                    <label>Country</label>
                </div>

                <div class="">
                    <p>Country</p>
                </div>
            </div>

            <div class="row">
                <div class="">
                    <label>Postal Code</label>
                </div>

                <div class="">
                    <p>Postal Code</p>
                </div>
            </div>
        </div>
    </div>
</div>