html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

#map_canvas_container {
    position: relative;
}

#map {
    min-height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.form-horizontal .control-label {
    text-align: left;
    padding-top: 0;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}


.chosen-container-multi .chosen-choices .search-choice {

    font-size: 12px;

}

.navbar {
    min-height: 38px;
    margin-bottom: 30px;
    border: 1px solid transparent;
}

.navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar-inverse {
    background-color: #4578AB;
    border-color: #365f87;
    border-radius: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.navbar-inverse .navbar-nav > li > a {
    color: #EEE;
}

.navbar-brand {
	float: left;
	padding: 9px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 38px;
}

.navbar-inverse .navbar-brand {
    background-color: #396591;
}

.navbar-inverse .navbar-brand {
    color: #EEE;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #fff;
	background-color: #32587f;
}

.btn-toolbar-right {
	float: right;
}

.footer {
    bottom: 0;
    height: 10px;
    position: absolute;
}


.m-l-10 {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}